#app{
  [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  h1{
    font-family: Georgia, Arial, Serif;
  }
  .raag-do{
    span{
      display: block;
      clear: both;
      font-size: 12px;
    }
  }
  .section-wrapper{
    padding: 0 0 2em;
    .composition-wrapper{
      width: 100%;
      display: block;
      clear: both;
      position: relative;
      .composition-item{
        .item-wrapper{
          position: relative;
          display: block;
          width: 100%;
          min-height: 72px;
          clear: both;
          .c-part{
            display: inline-block;
            float: left;
            margin: 1.5em 0;
            text-align: center;
            border-left:1px solid #eaeaea;
            position: relative;
            input{
              border-radius: 0;
              text-align: center;
              opacity: 0;
              z-index: -9;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              background: #fafafa;
              height: 25px;
              &:focus{
                opacity: 1;
                z-index: 9;
                display: block;
                height: 25px;
                line-height: 25px;
              }

            }
            .notation{
              display: block;
              position: relative;
              top:inherit;
              z-index: 9;
              transition:all .3s ease;
              span{
                display: inline-block;
                margin: 0 2px 0 0;
                text-transform: uppercase;
                position: relative;
                &.komal{
                  border-bottom: 1px solid #000;
                  padding-bottom: 1px;
                }
                &.upper{
                  &:before{
                    content:" ";
                    height: 4px;
                    width: 4px;
                    background: black;
                    border-radius: 50%;
                    position: absolute;
                    top:-2px;
                    left: 0;
                    right: 0;
                    margin: auto;
                  }
                }
              }
            }
            &.mark{
              border-left:1px solid #266acd;
            }
            &:hover,&.isfocused{
              input{
                opacity: 1;
                z-index: 9;
                display: block;
                height: 25px;
                line-height: 25px;

              }
              .notation{
                position: absolute;
                top: 30px;
                width: 100%;
                text-align: center;
                z-index: 9;
                background: #fff;
                box-shadow: 1px 1px 2px #afafaf;
              }
            }
          }
          .rm-line{
            position: absolute;
            top: 26px;
            left: -80px;
            height: 30px;
            padding: 0 10px;
            margin: 0;
            display: block;
            transition: all .4s ease;
          }
          :hover{
            .rm-line{
              display: block;
              left: -40px;
            }
          }
        }

      }

    }
  }

  .taal-template{
    .c-part{
      display: inline-block;
      float: left;
      margin: 1.5em 0;
      text-align: center;
      &.mark{
        border-left:1px solid indianred;
      }
      &.no-mark{
        border-left:1px solid #eaeaea;
      }
    }
  }

  .material-input{
    border:none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    max-width: 380px;
  }
}

/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser différentes fonctions de durée et de temps.  */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}