#app{
  [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }
  h1{
    font-family: Georgia, Arial, Serif;
  }
  .raag-do{
    span{
      display: block;
      clear: both;
      font-size: 12px;
    }
  }
  .section-wrapper{
    padding: 0 0 2em;
    .composition-wrapper{
      width: 100%;
      display: block;
      clear: both;
      position: relative;
      .composition-item{
        .item-wrapper{
          position: relative;
          display: block;
          width: 100%;
          min-height: 72px;
          clear: both;
          .c-part{
            display: inline-block;
            float: left;
            margin: 1.5em 0;
            text-align: center;
            border-left:1px solid #eaeaea;
            position: relative;
            input{
              border:none;
              box-shadow: none;
              border-radius: 0;
              text-align: center;
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition:all .3s ease;
            }
            .notation{
              display: block;
              position: relative;
              top:inherit;
              z-index: 9;
              transition:all .3s ease;
            }
            &.mark{
              border-left:1px solid indianred;
            }
            &:hover{
              input{
                display: block;
                background: #fafafa;
                border:1px solid #f1f1f1;
                height: 25px;
                line-height: 25px;
              }
              .notation{
                position: absolute;
                top: 30px;
                width: 100%;
                text-align: center;
                z-index: 9;
                background: #fff;
                box-shadow: 1px 1px 2px #afafaf;
              }
            }
          }
          .rm-line{
            position: absolute;
            top: 26px;
            left: -80px;
            height: 30px;
            padding: 0 10px;
            margin: 0;
            border-radius: 50%;
            display: none;
            transition: all .4s ease;
          }
          :hover{
            .rm-line{
              display: block;
              left: -40px;
            }
          }
        }

      }

    }
  }

  .taal-list{
    .c-part{
      display: inline-block;
      float: left;
      margin: 1.5em 0;
      text-align: center;
      &.mark{
        border-left:1px solid indianred;
      }
      &.no-mark{
        border-left:1px solid #eaeaea;
      }
    }
  }
  .material-input{
    border:none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    max-width: 380px;
  }
}