@charset "UTF-8";
#app [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element; }
#app h1 {
  font-family: Georgia, Arial, Serif; }
#app .raag-do span {
  display: block;
  clear: both;
  font-size: 12px; }
#app .section-wrapper {
  padding: 0 0 2em; }
  #app .section-wrapper .composition-wrapper {
    width: 100%;
    display: block;
    clear: both;
    position: relative; }
    #app .section-wrapper .composition-wrapper .composition-item .item-wrapper {
      position: relative;
      display: block;
      width: 100%;
      min-height: 72px;
      clear: both; }
      #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part {
        display: inline-block;
        float: left;
        margin: 1.5em 0;
        text-align: center;
        border-left: 1px solid #eaeaea;
        position: relative; }
        #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part input {
          border-radius: 0;
          text-align: center;
          opacity: 0;
          z-index: -9;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          background: #fafafa;
          height: 25px; }
          #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part input:focus {
            opacity: 1;
            z-index: 9;
            display: block;
            height: 25px;
            line-height: 25px; }
        #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part .notation {
          display: block;
          position: relative;
          top: inherit;
          z-index: 9;
          transition: all .3s ease; }
          #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part .notation span {
            display: inline-block;
            margin: 0 2px 0 0;
            text-transform: uppercase;
            position: relative; }
            #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part .notation span.komal {
              border-bottom: 1px solid #000;
              padding-bottom: 1px; }
            #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part .notation span.upper:before {
              content: " ";
              height: 4px;
              width: 4px;
              background: black;
              border-radius: 50%;
              position: absolute;
              top: -2px;
              left: 0;
              right: 0;
              margin: auto; }
        #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part.mark {
          border-left: 1px solid #266acd; }
        #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part:hover input, #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part.isfocused input {
          opacity: 1;
          z-index: 9;
          display: block;
          height: 25px;
          line-height: 25px; }
        #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part:hover .notation, #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .c-part.isfocused .notation {
          position: absolute;
          top: 30px;
          width: 100%;
          text-align: center;
          z-index: 9;
          background: #fff;
          box-shadow: 1px 1px 2px #afafaf; }
      #app .section-wrapper .composition-wrapper .composition-item .item-wrapper .rm-line {
        position: absolute;
        top: 26px;
        left: -80px;
        height: 30px;
        padding: 0 10px;
        margin: 0;
        display: block;
        transition: all .4s ease; }
      #app .section-wrapper .composition-wrapper .composition-item .item-wrapper :hover .rm-line {
        display: block;
        left: -40px; }
#app .taal-template .c-part {
  display: inline-block;
  float: left;
  margin: 1.5em 0;
  text-align: center; }
  #app .taal-template .c-part.mark {
    border-left: 1px solid indianred; }
  #app .taal-template .c-part.no-mark {
    border-left: 1px solid #eaeaea; }
#app .material-input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
  max-width: 380px; }

/* Les animations d'entrée (« enter ») et de sortie (« leave »)  */
/* peuvent utiliser différentes fonctions de durée et de temps.  */
.slide-fade-enter-active {
  transition: all .3s ease; }

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-to
 {
  transform: translateX(10px);
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
